name: Build LaTeX document
on: [push]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v6
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v4
        with:
          root_file: Thesis.tex
          texlive_version: 2024
          os: 'alpine'
      - name: Upload PDF file
        uses: actions/upload-artifact@v6
        with:
          name: PDF
          path: Thesis.pdf
      - name: Commit Thesis to repo
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add Thesis.pdf
          git commit -m "Update Thesis.pdf" || exit 0
          git push
          
