name: Build LaTeX document
on: [push]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v6
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v4
        with:
          root_file: Thesis.tex
          texlive_version: 2024
          os: 'alpine'
      - name: Upload PDF file
        uses: actions/upload-artifact@v6
        with:
          name: PDF
          path: Thesis.pdf
          
